SECRET_KEY=KMUHZtLPFsCbdLaILITknatGu3wM9DW8ElINSxlVfYFsy7vr2zSS16LzqWkis6hL
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL=sqlite:///./orders.db
DB_ECHO=false
AUTH_USERNAME=angelrivera
AUTH_PASSWORD_HASH=$2b$12$1LJwl/1hYn7n5POL3hsx6.eS/IgjWmUMsQQLEAsCFCEQrkPl9EcX.
